In [1]:
from __future__ import division
import pandas as pd
import matplotlib.pyplot as plt

org_data = pd.read_csv('train.csv')
org_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [2]:
# add 1's for dimple plot purpose
new_data = org_data
new_data['Count'] = 1

ind1 = new_data['Sex'] == 'male'
new_data['Survival_rate_by_sex'] = sum(new_data['Survived'][ind1]) / sum(ind1) / sum(ind1) * 100

ind2 = new_data['Sex'] == 'female'
new_data['Survival_rate_by_sex'][ind2] = sum(new_data['Survived'][ind2]) / sum(ind2) / sum(ind2) * 100

/Users/yanshi/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [3]:
new_data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [4]:
ind1 = new_data['Embarked'] == 'S'
new_data['Survival_rate_by_embarked'] = sum(new_data['Survived'][ind1]) / sum(ind1) / sum(ind1) * 100

ind2 = new_data['Embarked'] == 'C'
new_data['Survival_rate_by_embarked'][ind2] = sum(new_data['Survived'][ind2]) / sum(ind2) / sum(ind2) * 100

ind3 = new_data['Embarked'] == 'Q'
new_data['Survival_rate_by_embarked'][ind3] = sum(new_data['Survived'][ind3]) / sum(ind3) / sum(ind3) * 100

/Users/yanshi/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/yanshi/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
new_data = new_data.replace({'Embarked':{'S': 'Southampton', 'C': 'Cherbourg', 'Q': 'Queenstown'}})

In [6]:
new_data['Pclass'].unique()

array([3, 1, 2])

In [7]:
ind1 = new_data['Pclass'] == 1
new_data['Survival_rate_by_class'] = sum(new_data['Survived'][ind1]) / sum(ind1) / sum(ind1) * 100

ind2 = new_data['Pclass'] == 2
new_data['Survival_rate_by_class'][ind2] = sum(new_data['Survived'][ind2]) / sum(ind2) / sum(ind2) * 100

ind3 = new_data['Pclass'] == 3
new_data['Survival_rate_by_class'][ind3] = sum(new_data['Survived'][ind3]) / sum(ind3) / sum(ind3) * 100

/Users/yanshi/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/yanshi/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
# Add Faimily number
new_data['Relatives_number'] = new_data['SibSp'] + new_data['Parch']

In [9]:
new_data['Age'].max()

80.0

In [10]:
# Add Age_interval
tmp = []
for x in new_data['Age']:
    if x <=10:
        tmp.append("(0, 10]")
    elif x > 10 and x <= 20:
        tmp.append("(10, 20]")
    elif x > 20 and x <= 30:
        tmp.append("(20, 30]")
    elif x > 30 and x <= 40:
        tmp.append("(30, 40]")
    elif x > 40 and x <= 50:
        tmp.append("(40, 50]")
    elif x > 50 and x <= 60:
        tmp.append("(50, 60]")
    elif x > 60 and x <= 70:
        tmp.append("(60, 70]")
    elif x > 70 and x <= 80:
        tmp.append("(70, 80]")
    else:
        tmp.append("NaN")

In [11]:
new_data['Age_interval'] = tmp

In [12]:
# Sort by Age and Pclass for plotting#
# new_data = new_data.sort(["Age", "Pclass"])
# Turn 1/0 to Survived/Perished
new_data = new_data.replace({"Survived":{1: "Survived", 0: "Perished"}})
new_data = new_data.rename(columns = {'Survived':'Status'})
new_data = new_data.sort(["Pclass"])
new_data.to_csv('Titanic_final.csv')